.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 549px) {  
  #footer {  
    font-size: 10pt; 
    letter-spacing: 0.5px;       
  }

  nav {
    width: 100%;
    min-height: 48px;
    vertical-align: bottom
  }  
  nav h1 a {       
    letter-spacing: 5px;    
  }

/* ====================== Restaurant Filtering ====================== */
  .filter-options { 
    min-height: 116px; 
    padding: 10px;   
  }

  .filter-options select {
    font-size: 12pt;
    margin: 0;
    margin-bottom: 15px;
    min-height: 48px;   
    min-width: 100%;
  }

  /* ====================== Restaurant Listing ====================== */
  #restaurants-list {    
    padding: 0;
    min-width: 100%;
  }
  #restaurants-list li { 
    margin-left: auto;
    margin-right:auto;   
    min-width: 270px;
  } 
  #restaurants-list li a {
    min-height: 48px;
    margin: 0;
    padding: 0;
  }
  #restaurants-list li a {     
    padding: 13px 30px 10px;
    min-height: 22px;
  }
  /* ====================== Restaurant Details ====================== */
  ul, li {    
    font-size: 16pt;
  }  
  #breadcrumb {
    padding: 15px 15px 16px;    
  }   
  #restaurant-container{
    padding: 150px 0px 30px;
  }  
  #restaurant-name{
    font-size: 18pt; 
    margin-right: auto;
    margin-left: auto;  
  }
  #restaurant-img{
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  #restaurant-cuisine{
    margin-right: auto;
    margin-left: auto;
  }
  #restaurant-address{
    margin-right: auto;
    margin-left: auto;
  }
  #restaurant-hours{   
    margin-right: auto;
    margin-left: auto; 
  }
  #reviews-container{
    padding: 10px 0px 30px;
  }
  #reviews-container h2 {    
    font-size: 18pt;  
  }
  #reviews-list li {
    margin: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }  
  #reviews-list li p {
    margin: 10px 0 10px;
    font-size: 12pt;
  }
}

@media screen and (min-width: 550px) { 
  .filter-options {     
    padding: 5px;   
    min-height: 55px;
  }
  .filter-options select {
    font-size: 12pt;
    margin: 0;
    margin-top: 5px;
    min-height: 48px;      
  }
  #restaurants-list {    
    padding: 0;
    min-width: 100%;
  }
  #restaurants-list li { 
    margin-left: auto;
    margin-right:auto;   
    min-width: 70%;
  } 
  #restaurants-list li a {     
    padding: 13px 30px 10px;
    min-height: 22px;
  }
   /* ====================== Restaurant Details ====================== */
  ul, li {    
    font-size: 16pt;
  }  
  #breadcrumb {
    padding: 15px 15px 16px;    
  }   
  #restaurant-container{
    padding: 150px 0px 30px;
  }  
  #restaurant-name{
    font-size: 18pt;  
    margin-right: auto;
    margin-left: auto;   
  }
  #restaurant-img{
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  #restaurant-cuisine{
    margin-right: auto;
    margin-left: auto;
  }
  #restaurant-address{
    min-width: 100%; 
    text-align: center;   
  }
  #restaurant-hours{    
    margin-right: auto;
    margin-left: auto; 
  }
  #reviews-container{
    padding: 10px 0px 30px;
  }
  #reviews-container h2 {    
    font-size: 18pt;  
  }
  #reviews-list li {
    margin: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }  
  #reviews-list li p {
    margin: 10px 0 10px;
    font-size: 11pt;
  }
}

@media screen and (min-width: 700px) {
  .filter-options {   
    padding: 10px;   
  }
  .filter-options select {
    font-size: 12pt;
    margin: 0;
    margin-bottom: 15px;
    min-height: 48px;      
  }
  #restaurants-list {    
    padding: 0;
    min-width: 100%;
  }
  #restaurants-list li { 
    margin-left: auto;
    margin-right:auto;   
    min-width: 270px;
  } 
}

@media screen and (min-width: 850px) {
  main {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .filter-options select {
   
    font-size: 11pt;
    min-height: 40px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
  }
  #restaurants-list li { 
    margin-left: auto;
    margin-right:auto;   
    min-width: 40%;
  } 
} 